<% include ../layout.html %>
<html>
<body>
    <% include ../common/header.html %>
    <div id="main">
        <form class="form-horizontal" action="" method="post">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">电影名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="电影名称">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">电影导演</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="电影导演">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">国家</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="国家">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">语种</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="语种">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">海报地址</label>
                <div class="col-sm-10">
                    <input type="" class="form-control" placeholder="海报地址">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">上映年代</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="上映年代">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">片源地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="片源地址">
                </div>
            </div>  
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-1 control-label">电影介绍</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="电影介绍"></textarea>
                </div>
            </div>  
            <div class="form-group">
                <span class="btn btn-primary submit" >提交</span>
            </div>
        </form>
    </div>
</body>

</html>
<style>
    .form-group{
        display: flex;
        justify-content: center;
        
    }
    .form-group label{
        text-align: right;
    }
    .submit{
    }
</style>